{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Zakupoholik</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/chatbot.css' %}">
</head>
<body>
<div class="wrapper-main">
    <header>
        <div class="img">
            <img src="{% static 'img/logo.jpg' %}" alt="logo">
        </div>
        <div class="searcher">
            <div class="search-border">
                <input type="text" name="searcher">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
        <div class="user_menu">
        {% if user.is_superuser %}
            <a href="{% url 'dashboard:dashboard' %}" id="dashboard">dashboard</a>
        {% endif %}
            {% if user.is_authenticated %}
                <a class="login" href="{% url 'logout' %}">
                    <img src="{% static 'img/user.svg' %}" alt="user">
                    <p>{{ user.username }}</p>
                </a>
            {% else %}
                <a class="login" href="{% url 'login' %}">
                    <img src="{% static 'img/user.svg' %}" alt="user">
                    <p>Zaloguj</p>
                </a>
            {% endif %}
            <div class="cart">
                <a href="{% url 'shopping_cart:shopping_cart_detail' %}">
                    <img src="{% static 'img/cart-shopping.svg' %}" alt="cart">
                </a>
            </div>
        </div>
    </header>
    <nav>
        <ul>
            {% for category in category_product %}
                <li><a href="{% url 'main:view_for_category'  category.slug %}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    <div class="main_image_page">
        <img src="{% static 'img/promka.jpg' %}" alt="promocja baner">
    </div>

    {% block content %}
    {% endblock %}

    <div id="chatbot">
        <img src="{% static 'img/chat.png' %}" alt="" onclick="openChatWindow()">
    </div>
    <div id="bot">
        <div id="label_mssg"><i class="fa-regular fa-circle-xmark" onclick="closeChatWindow()"></i></div>
        <div id="conversation"></div>
        <form action="" method="post" onsubmit="handle_conversation_with_bot(event)">
            <input type="text" name="question" id="user_question">
            <button>Klik</button>
            {% csrf_token %}
        </form>
    </div>
</div>
<footer>Sebastian Jadczak</footer>
</body>
<script src="https://kit.fontawesome.com/0d0608dae7.js" crossorigin="anonymous"></script>
<script src="{% static 'js/index.js' %}"></script>
<script src="{% static 'js/handle_chatbot.js' %}"></script>
<script src="{% static 'js/jquery-3.6.4.js' %}"></script>
</html>