{% extends "base.html" %}
{% load static %}
{% block title %} Zakupoholik.pl {% endblock %}
{% block content %}

    <div class="category_image">
        <ul>
            {% for category in category_product %}
                <li>
                    <a href="#">
                        <div class="image_promotion_category">
                            <img src="" alt="">
                        </div>
                        <div class="description_promotion_category">
                            <p>{{ category.name }}</p>
                        </div>
                        <div class="more_promotion_category">
                            <button onclick="more_about_category(id_category)">Więcej</button>
                        </div>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div class="content">
        <h3>Promocje</h3>
        <ul>
            {% for product in all_products_with_promotion %}
                <li><a href="#">{{ product.name_product }}</a></li>
            {% endfor %}
        </ul>

    </div>
    <div id="chatbot">
        <img src="{% static 'img/chat.png' %}" alt="">
    </div>

{% endblock %}